:root {
  --clr-gray: #eee;
}
* {
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  font-family: "Work Sans", sans-serif;
  color: #06113c;
  background-color: #eeeeee;
}
.container {
  /* background-color: var(--clr-gray); */
  margin: 2rem 1rem;
}

#header {
  text-align: center;
  padding: 3rem;
}

.intro-container {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  max-width: 1100px;
  padding: 1em 2em;
  margin: 20px auto;
  /* padding: 2em; */
  background-image: url("./images/low-poly-grid-haikei.svg");
  clip-path: polygon(
    0 0,
    100% 0,
    100% 20%,
    100% 85%,
    87% 100%,
    19% 100%,
    0 100%,
    0% 20%
  );
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  border-right: 5px solid #ff8c32;
  border-radius: 10px;
}
.img-container {
  width: 40%;
  padding: 2em;
  min-width: 385px;
  margin: 0 auto;
}
#image {
  width: 100%;
  filter: sepia(0.5);
  border-radius: 10px;
}
.introduction {
  min-width: 350px;
  width: 60%;
  display: flex;
  align-items: center;
  padding: 2em;
  font-size: 1.5rem;
  margin: 0 auto;
  letter-spacing: 1.2px;
}

#img-caption {
  text-align: center;
  font-size: 1.2rem;
  font-style: italic;
}

.content-container {
  padding: 2rem;
  /* width: 80%; */
  max-width: 800px;
  font-size: 1.1rem;
  margin: 0 auto;
}

.content-container article {
  margin-bottom: 30px;
}

article blockquote {
  text-align: center;
  font-style: italic;
  line-height: 1.6rem;
}

#title {
  letter-spacing: 1.2px;
  text-transform: uppercase;
}

.divider {
  border-bottom: 1px solid #ff8c32;
  min-width: 250px;
}

.large {
  width: 10%;
  margin: 5px auto;
  border-width: 4px;
}

.medium {
  width: 60%;
  border-width: 3px;

  margin: 5px auto 30px auto;
}

.small {
  border-width: 2px;
  margin-top: 3px;
  margin-bottom: 10px;
  width: 10%;
}
